
#content
{
 display:inine-block;
 position: relative;
 padding-top: 4%;
 padding-bottom: 4%;
 padding-right:6%;
 padding-left:6%;
 margin-top: 15%;
 margin-right:10%;
 margin-left:21%;
 margin-bottom: 10%;
 background-color: rgba(0, 0, 0, 0.7);
 max-width: 660px;
 
 color:white; 
}




